<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <svg  id="map"></svg>

  <div id="tooltip">
    Id: <span id="id" class="info"></span><br> 
    Description: <span id="description" class="info"></span><br>
    Patient ID: <span id="patientID" class="info"></span><br> 
    Place Name: <span id="placeName" class="info"></span><br>  
    Start Time: <span id="startTime" class="info"></span><br>  
    End Time: <span id="endTime" class="info"></span><br> 
    Type: <span id="type" class="info"></span><br> 
  </div>

  <!-- <div id="tooltip">
    Name: <span id="name" class="info"></span><br> 
    Nametype: <span id="nametype" class="info"></span><br>
    Fall: <span id="fall" class="info"></span><br> 
    Mass: <span id="mass" class="info"></span><br>  
    Recclass: <span id="reclass" class="info"></span><br>  
    Reclat: <span id="reclat" class="info"></span><br> 
    Reclong: <span id="reclong" class="info"></span><br> 
    Year: <span id="year" class="info"></span>
  </div> -->

</body>
</html>