<div class="d-md-none" style="height: 5%; width: 100%;"></div>
<div class="card-deck" style="background-color: #fefefe; padding-top: 10%; padding-bottom: 10%;">
    <div class="card col-sm-0 col-md-1" style="background-color: #fefefe; border-style: none;">
    </div>
    <div class="card col-sm-12 col-md-10" style="background-color: #fefefe; border-style: none;">
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">What is corona virus</button>
            <div class="content">
              <p>Corona viruses are a large family of viruses which may cause illness
                in animals or humans. In humans, several coronaviruses are known
                to cause respiratory infections ranging from the common cold to more
                severe diseases such as Middle East Respiratory Syndrome (MERS)
                and Severe Acute Respiratory Syndrome (SARS). The most recently
                discovered coronavirus causes coronavirus disease COVID-19. 
                </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">What is COVID-19</button>
            <div class="content">
              <p>COVID-19 is the infectious disease caused by the most recently
                discovered corona virus. This new virus and disease were unknown
                before the outbreak began in Wuhan, China, in December 2019. 
                </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">What are the symptoms of COVID-19</button>
            <div class="content">
              <p>The most common symptoms of COVID-19 are fever, tiredness, and
                dry cough. Some patients may have aches and pains, nasal
                congestion, runny nose, sore throat or diarrhea. These symptoms are
                usually mild and begin gradually. Some people become infected but
                don’t develop any symptoms and don't feel unwell. Most people
                (about 80%) recover from the disease without needing special
                treatment. Around 1 out of every 6 people who gets COVID-19
                becomes seriously ill and develops difficulty breathing. Older people,
                and those with underlying medical problems like high blood pressure,
                heart problems or diabetes, are more likely to develop serious illness.
                People with fever, cough and difficulty breathing should seek medical
                attention. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">How does COVID-19 spread</button>
            <div class="content">
              <p>People can catch COVID-19 from others who have the virus. The
                disease can spread from person to person through small droplets from
                the nose or mouth which are spread when a person with COVID-19
                coughs or exhales. These droplets land on objects and surfaces
                around the person. Other people then catch COVID-19 by touching
                these objects or surfaces, then touching their eyes, nose or mouth.
                People can also catch COVID-19 if they breathe in droplets from a
                person with COVID-19 who coughs out or exhales droplets. This is
                why it is important to stay more than 1 meter (3 feet) away from a
                person who is sick.</p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Can the virus that causes COVID-19 be transmitted through the air?</button>
            <div class="content">
              <p>Studies to date suggest that the virus that causes COVID-19 is mainly
                transmitted through contact with respiratory droplets rather than
                through the air. See previous answer on “How does COVID-19
                spread?” </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Can CoVID-19 be caught from a person who has no symptoms? </button>
            <div class="content">
              <p>The main way the disease spreads is through respiratory droplets
                expelled by someone who is coughing. The risk of catching COVID-19
                from someone with no symptoms at all is very low. However, many
                people with COVID-19 experience only mild symptoms. This is
                particularly true at the early stages of the disease. It is therefore
                possible to catch COVID-19 from someone who has, for example, just
                a mild cough and does not feel ill. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Can I catch COVID-19 from the feces of someone with the disease?</button>
            <div class="content">
              <p>The risk of catching COVID-19 from the feces of an infected person
                appears to be low. While initial investigations suggest the virus may
                be present in feces in some cases, spread through this route is not a 
                main feature of the outbreak. The ongoing research on the ways
                COVID-19 is spread and will continue to share new findings. Because
                this is a risk, however, it is another reason to clean hands regularly,
                after using the bathroom and before eating. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">What can I do to protect myself and prevent the spread of disease</button>
            <div class="content">
              <p>Stay aware of the latest information on the COVID-19 outbreak,
                available on the national,state and local public health authority. Many
                countries around the world have seen cases of COVID-19 and several
                have seen outbreaks. Authorities in China and some other countries
                have succeeded in slowing or stopping their outbreaks. However, the
                situation is unpredictable so check regularly for the latest news.
                You can reduce your chances of being infected or spreading COVID19 by taking some simple precautions</p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">How likely am I to catch COVID-19?</button>
            <div class="content">
              <p>The risk depends on where you are - and more specifically, whether
                there is a COVID-19 outbreak unfolding there.
                For most people in most locations the risk of catching COVID-19 is
                still low. However, there are now places around the world (cities or
                areas) where the disease is spreading. For people living in, or visiting,
                these areas the risk of catching COVID-19 is higher. Governments
                and health authorities are taking vigorous action every time a new
                case of COVID-19 is identified. Be sure to comply with any local
                restrictions on travel, movement or large gatherings. Cooperating with
                disease control efforts will reduce your risk of catching or spreading
                COVID-19.
                COVID-19 outbreaks can be contained and transmission stopped, as
                has been shown in China and some other countries. Unfortunately,
                new outbreaks can emerge rapidly. It’s important to be aware of the
                situation where you are or intend to go.</p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Should I worry about COVID-19?</button>
            <div class="content">
              <p>Illness due to COVID-19 infection is generally mild, especially for
                children and young adults. However, it can cause serious illness:
                about 1 in every 5 people who catch it need hospital care. It is
                therefore quite normal for people to worry about how the COVID-19
                outbreak will affect them and their loved ones.
                We can channel our concerns into actions to protect ourselves, our
                loved ones and our communities. First and foremost among these
                actions is regular and thorough hand-washing and good respiratory
                hygiene. Secondly, keep informed and follow the advice of the local
                health authorities including any restrictions put in place on travel,
                movement and gatherings.</p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Who is at risk of developing severe illness</button>
            <div class="content">
              <p>While we are still learning about how COVID-2019 affects people,
                older persons and persons with pre-existing medical conditions (such
                as high blood pressure, heart disease, lung disease, cancer or
                diabetes) appear to develop serious illness more often than others. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Are antibiotics effective in preventing or treating the COVID-19?</button>
            <div class="content">
              <p>No. Antibiotics do not work against viruses, they only work on
                bacterial infections. COVID-19 is caused by a virus, so antibiotics do
                not work. Antibiotics should not be used as a means of prevention or
                treatment of COVID-19. They should only be used as directed by a
                physician to treat a bacterial infection. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Are there any medicines or therapies that can prevent or cure
                COVID-19</button>
            <div class="content">
              <p>While some western, traditional or home remedies may provide
                comfort and alleviate symptoms of COVID-19, there is no evidence
                that current medicine can prevent or cure the disease. We does not
                recommend self-medication with any medicines, including antibiotics,
                as a prevention or cure for COVID-19. However, there are several
                ongoing clinical trials that include both western and traditional
                medicines. We will continue to provide updated information as soon
                as clinical findings are available. 
                </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Is there a vaccine drug or treatment for COVID-19</button>
            <div class="content">
              <p>Not yet. To date, there is no vaccine and no specific antiviral medicine
                to prevent or treat COVID-2019. However, those affected should
                receive care to relieve symptoms. People with serious illness should
                be hospitalized. Most patients recover thanks to supportive care. 
                Possible vaccines and some specific drug treatments are under
                investigation. They are being tested through clinical trials.
                The most effective ways to protect yourself and others against
                COVID-19 are to frequently clean your hands, cover your cough with
                the bend of elbow or tissue, and maintain a distance of at least 1
                meter (3 feet) from people who are coughing or sneezing </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Is COVID-19 the same as SARS?</button>
            <div class="content">
              <p>No. The virus that causes COVID-19 and the one that caused the
                outbreak of Severe Acute Respiratory Syndrome (SARS) in 2003 are
                related to each other genetically, but the diseases they cause are
                quite different.
                SARS was more deadly but much less infectious than COVID-19.
                There have been no outbreaks of SARS anywhere in the world since
                2003. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Should I wear mask to protect myself
            </button>
            <div class="content">
              <p>Only wear a mask if you are ill with COVID-19 symptoms (especially
                coughing) or looking after someone who may have COVID-19.
                Disposable face mask can only be used once. If you are not ill or
                looking after someone who is ill then you are wasting a mask. There is
                a world-wide shortage of masks, so We urge people to use masks
                wisely.
                We advises rational use of medical masks to avoid unnecessary
                wastage of precious resources and mis-use of masks The most
                effective ways to protect yourself and others against COVID-19 are to
                frequently clean your hands, cover your cough with the bend of elbow
                or tissue and maintain a distance of at least 1 meter (3 feet) from
                people who are coughing or sneezing. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">How to put on use take off and dispose of a mask?</button>
            <div class="content">
              <p>1. Remember, a mask should only be used by health workers, care takers,
                and individuals with respiratory symptoms, such as fever and cough.<br>
                2. Before touching the mask, clean hands with an alcohol-based
                hand rub or soap and water<br>
                3. Take the mask and inspect it for tears or holes.<br>
                4. Orient which side is the top side (where the metal strip is).<br>
                5. Ensure the proper side of the mask faces outwards (the
                coloured side).<br>
                6. Place the mask to your face. Pinch the metal strip or stiff edge of
                the mask so it moulds to the shape of your nose.<br>
                7. Pull down the mask’s bottom so it covers your mouth and your
                chin.<br>
                8. After use, take off the mask; remove the elastic loops from
                behind the ears while keeping the mask away from your face
                and clothes, to avoid touching potentially contaminated surfaces
                of the mask.<br>
                9. Discard the mask in a closed bin immediately after use.<br>
                10. Perform hand hygiene after touching or discarding the
                mask – Use alcohol-based hand rub or, if visibly soiled, wash
                your hands with soap and water.<br> </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">How long is the incubation period for COVID-19?</button>
            <div class="content">
              <p>The “incubation period” means the time between catching the virus
                and beginning to have symptoms of the disease. Most estimates of
                the incubation period for COVID-19 range from 1-14 days, most
                commonly around five days. These estimates will be updated as more
                data become available. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Can humans become infected with the COVID-19 from an animal
                source?</button>
            <div class="content">
              <p>Coronaviruses are a large family of viruses that are common in
                animals. Occasionally, people get infected with these viruses which 
                may then spread to other people. For example, SARS-CoV was
                associated with civet cats and MERS-CoV is transmitted by
                dromedary camels. Possible animal sources of COVID-19 have not
                yet been confirmed.
                To protect yourself, such as when visiting live animal markets, avoid
                direct contact with animals and surfaces in contact with animals.
                Ensure good food safety practices at all times. Handle raw meat, milk
                or animal organs with care to avoid contamination of uncooked foods
                and avoid consuming raw or undercooked animal products. </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Can I catch COVID-19 from my pet?
            </button>
            <div class="content">
              <p>While there has been one instance of a dog being infected in Hong
                Kong, to date, there is no evidence that a dog, cat or any pet can
                transmit COVID-19. COVID-19 is mainly spread through droplets
                produced when an infected person coughs, sneezes, or speaks. To
                protect yourself, clean your hands frequently and thoroughly.
                We continues to monitor the latest research on this and other COVID19 topics and will update as new findings are available. 
                </p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">How long does the virus survive on surfaces?
            </button>
            <div class="content">
              <p>It is not certain how long the virus that causes COVID-19 survives on
                surfaces, but it seems to behave like other corona viruses. Studies
                suggest that corona viruses (including preliminary information on the
                COVID-19 virus) may persist on surfaces for a few hours or up to
                several days. This may vary under different conditions (e.g. type of
                surface, temperature or humidity of the environment).
                If you think a surface may be infected, clean it with simple disinfectant
                to kill the virus and protect yourself and others. Clean your hands with 
                an alcohol-based hand rub or wash them with soap and water. Avoid
                touching your eyes, mouth, or nose.</p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Is it safe to receive a package from any area where COVID-19 has
                been reported?</button>
            <div class="content">
              <p>Yes. The likelihood of an infected person contaminating commercial
                goods is low and the risk of catching the virus that causes COVID-19
                from a package that has been moved, travelled, and exposed to
                different conditions and temperature is also low.</p>
            </div>
        </div>
        <div class="wrapper" style="margin-top: 1%;">
            <button class="collapsible">Is there anything I should not do?
            </button>
            <div class="content">
              <p>The following measures ARE NOT effective against COVID-2019 and
                can be harmful:<br>
                • Smoking<br>
                • Wearing multiple masks<br>
                • Taking antibiotics (See question 10 "Are there any medicines of
                therapies that can prevent or cure COVID-19?")<br>
                In any case, if you have fever, cough and difficulty breathing
                seek medical care early to reduce the risk of developing a more
                severe infection and be sure to share your recent travel history with
                your health care provider. </p>
            </div>
        </div>
    </div>             
    <div class="card col-sm-0 col-md-1" style="background-color: #fefefe; border-style: none;">
    </div>
    
</div>

<button class="scrollButton" *ngIf="isShow" (click)="gotoTop()">
    <i class="fa fa-chevron-up" style="color: cornsilk"></i>
  </button>

