ul li {
    display:inline;
  }
  h6 {
    font-size: 12px;
    margin-top: 20px;
  }
  .glyphicon {
    font-size: 18px;
  }
  footer {
    padding-bottom: 0px;
  }
  b{
     font-size: 16px;
  }
  label{
     font-size: 14px;
  }

  @media only screen and (max-width : 760px){
    /* ul{
      margin-left: 10%;
      margin-right: 10%;
    } */
    ul li{
      padding: 5%;
    }
    h6{
      padding-left: 5%;
    }
  }
