<footer class="footer" style="background-color: #4c4b47;">
    <div class="container w3-padding-32">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 w3-text-white">
            <label><b style="color: cornsilk;">Source</b></label>
            <br/>
            <a href="https://data.gov.in">Open Government Data (OGD) platform India</a><br><br>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 w3-text-white">
          <label>
              <i class="fa fa-phone" style="color: cornsilk;" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;
            <b style="color: cornsilk;">Contact Us</b>
          </label><br/>
            +91-9944896088<br/><br/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 w3-text-white">
          <label>
            <i class="fa fa-envelope" style="color: cornsilk;" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;
          <b style="color: cornsilk;">Emails</b></label>
          <br/>
          covidmapper@gmail.com , mukeshdalavai@gmail.com
        <br/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 w3-text-white footer" style="padding: 0%;">
          <br/>
          <ul style="padding: 0%;">
            <li><a href="https://github.com/mukeshdalavai/project-covid-19" class="fb-ic">
              <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a></li>
            <li><a href="https://hub.docker.com/u/dmk0062" class="ins-ic">
              <i class="fab fa-docker fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a></li>
            <li><a href="https://linkedin.com/in/mukesh-dalavai/" class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a></li>
            <li class="d-lg-none" ><a href="https://instagram.com/mukesh_dalavai/" class="li-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a></li>
          </ul>
          <h6 class="white-text">Copyright ©2020 All rights reserved</h6>
        </div>
      </div>
    </div>
  </footer>