<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #4c4b47;">
    <div class="container">
      <div routerLink="/" class="m-2 btn font-weight-bold text-style">
        Covid Mapper
      </div>
        <ul class="d-none d-md-block navbar-nav navbar-left">
            <li class="nav-item btn font-weight-bold text-style">
                <a routerLink = "" >Home</a>
            </li>
            <li class="nav-item btn font-weight-bold text-style">
                <a routerLink = "/api">API</a>
            </li>
            <li class="nav-item btn font-weight-bold text-style">
                <a routerLink = "/faq">FAQ</a>
            </li>
        </ul>

        <button class="navbar-toggler navbar-nav navbar-left d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="collapse" id="navbarToggleExternalContent" style="padding-left: 20%;">
          <li class="nav-item btn font-weight-bold text-style">
              <a routerLink = "" >Home</a>
          </li>
          <li class="nav-item btn font-weight-bold text-style">
              <a routerLink = "/api">API</a>
          </li>
          <li class="nav-item btn font-weight-bold text-style">
              <a routerLink = "/faq">FAQ</a>
          </li>
      </ul>
    </div>
  </nav>