    <mat-spinner style="margin-top: 40%; margin-left: 40%;" *ngIf = 'isWait'></mat-spinner>
    <div style="height: 100%;">
        <div class="zoom-div">
            <div class="zoom-buttons" id="zoom-in" style="border-bottom-width: 1px;">
                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->+
            </div>
            <div class="zoom-buttons" id="zoom-out" style="border-top-width: 1px;">
                <!-- <i class="fa fa-minus" aria-hidden="true"></i> -->-
            </div>
        </div>
        <svg  id="map" style="width: 100%; height: 100%; background-color: cornsilk; padding: 0%" ></svg>    
    </div>    
