<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <svg  id="map"></svg>

  <div id="tooltip">
    Id: <span id="id" class="info"></span><br> 
    Description: <span id="description" class="info"></span><br>
    Patient ID: <span id="patientID" class="info"></span><br> 
    Place Name: <span id="placeName" class="info"></span><br>  
    Start Time: <span id="startTime" class="info"></span><br>  
    End Time: <span id="endTime" class="info"></span><br> 
    Type: <span id="type" class="info"></span><br> 
  </div>

<div id="stats">
  Confirmed: <span id="confirmed" class="info"></span><br> 
  Deaths: <span id="deaths" class="info"></span><br>
  Recovered: <span id="recovered" class="info"></span><br> 
</div>
    
</body>
</html>